.clr1 {
    background-color: steelblue;
}

body {
    background-image: repeating-linear-gradient(135deg, rgba(106, 106, 106, 0.1) 0px, rgba(106, 106, 106, 0.1) 2px,
    transparent 2px, transparent 4px), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.verti {
    height: 100%;
}

img {
    width: 75%;
    min-width: 120px;
}

.pad-acc {
    padding-top: 20vh;
}

@media only screen and (min-width: 992px) {
    .container {
        padding-top: 18vh;
        padding-bottom: 14vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .container {
        padding-top: 20vh;
        padding-bottom: 22vh;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){
    .container {
        padding-top: 22vh;
        padding-bottom: 24vh;
    }
}

@media only screen and (min-width: 200px) and (max-width: 576px){
    .container {
        padding-top: 25vh;
        padding-bottom: 32vh;
    }
}