.clr1 {
    background-color: steelblue;
}

body {
    background-image: repeating-linear-gradient(135deg, rgba(106, 106, 106, 0.1) 0px, rgba(106, 106, 106, 0.1) 2px,
    transparent 2px, transparent 4px), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.verti {
    height: 100%;
}

img {
    width: 75%;
    min-width: 120px;
}

.pad-acc {
    padding-top: 20vh;
}

.pad-pre {
    padding-top: 10vh;
}

/*.pad-pass {*/
/*    padding-bottom: 10vh;*/
/*}*/

@media only screen and (min-width: 992px) {
    .container .accordion {
        padding-top: 18vh;
        padding-bottom: 14vh;
    }
    .accordion {
        padding-bottom: 20vh;
    }
    .passions {
        padding-top: 8vh;
        padding-bottom: 10vh;
    }
}

@media only screen and (min-width: 880px) and (max-width: 992px){
    .passions {
        padding-top: 12vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 880px){
    .passions {
        padding-top: 14vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .container {
        padding-top: 20vh;
        padding-bottom: 22vh;
    }
    .accordion {
        padding-bottom: 27vh;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){
    .container {
        padding-top: 22vh;
        padding-bottom: 24vh;
    }
    .accordion {
        padding-bottom: 28vh;
    }
    .passions {
        padding-top: 17vh;
    }
}

@media only screen and (min-width: 200px) and (max-width: 576px){
    .container {
        padding-top: 25vh;
        padding-bottom: 32vh;
    }
    .accordion {
        padding-bottom: 28vh;
    }
    .passions {
        padding-top: 10vh;
    }
    .passions > .row2 {
        margin-bottom: 25vh;
    }
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}
